.app__hero {
	width: 100%;
	height: 100%;
	position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	background-image: url('../../assets/building7.jpg');

    @media (max-width: 991.98px) {
      	background-position: top center !important;
    }

    .overlay {
    	position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    content: '';
	    background: rgba(26, 55, 58, 0.8);
    }
}

.app__hero, .hero {
	height: 300px;

	@media screen and (max-width: 768px) {
		height: 200px;
	}

	.container {
		padding: 10% 0%;

		.app__banner_text {
			width: 100%;
			height: 300px;

			h2 {
				font-weight: 900;
	        	color: #fff;
	        	text-align: center;
			}

			.breadcrumbs {
				text-transform: uppercase;
		        font-size: 13px;
		        letter-spacing: 1px;
		        text-align: center;

		        span {
			        color: #fff;
		          	border-bottom: 2px solid rgba(255, 255, 255, 0.1);

		          	a {
		          		color: var(--blue);
		          	}
		        }

	          	.hero_icon {
	          		color: white;
	          		margin: 0 10px;
	          	}
			}
		}
	}
}